* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #c8bc16;
  padding: 20px;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: #222;
}

.logo {
  color: white;
  font-size: 20px;
}

/* Menu */
.menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu a {
  color: white;
  text-decoration: none;
}

/* Hamburger (mobile) */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  background: white;
  height: 3px;
  width: 25px;
  margin: 4px 0;
}

#gallery {
  margin-top: 40px;
}

#gallery h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #222;
}

.gallery-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.gallery-item {
  flex: 1 1 200px;
  max-width: 250px;

  overflow: hidden;
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.gallery-item img:hover {
  transform: scale(1.05);

}

.nutrition-box {
  margin-top: 20px;
  padding: 15px;
  background-color: #fff3cd;
  border-left: 5px solid #ffa502;
  border-radius: 8px;
}

.nutrition-box h3 {
  margin-top: 0;
}


/* Mobile view */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .menu {
    position: absolute;
    top: 60px;
    right: 0;
    background: #222;
    flex-direction: column;
    width: 150px;
    display: none;
    padding: 15px;
  }

  .menu.active {
    display: flex;
  }

  .gallery-container {
    gap: 10px;
  }

  .gallery-item {
    max-width: 100%;
  }
}